.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: #f1f1f1;
    padding: 40px;
}

.hero-content {
    text-align: left;
    padding: 20px;
}

.hero-content__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.45;
    color: #293560;
    text-transform: uppercase;
    width: 614px;
    margin-bottom: 20px;
}

.hero-content__txt {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.45;
    color: #171F39;
    width: 545px;
    margin-bottom: 40px;
}

.hero-content__btn{
    display: block;
    background-color: #C6264B;
    color: #fff;
    padding: 22px 105px;
    width: 311px;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700px;
    line-height: 1.43;
    cursor: pointer;
}

.hero-image {
    text-align: right;
    border-radius: 30px;
}

.hero-image .img {
    max-width: 100%;
    height: auto;
}